<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Password Manager</title>
  <link th:href="@{/css/login3.css}" rel="stylesheet"/>


</head>
<body>
<div class="container">
  <div class="inner_container">
    <div class="img_container" th:style="'background:url(/image/line-resized.jpg)'"></div>
    <div class="box">
      <div class="title_container">
        <img src="/image/university.png"  width="250" height="160"/>

        <label class="title">Change Password</label>
      </div>
      <div class="error_container" th:if="${passwordChangeError}">
        <div class="error">The username and password entered does not match any existing users.</div>
      </div>
      <div class="error_container" th:if="${usernameWrongError}">
        <div class="error">The username and password entered does not match any existing users.</div>
      </div>
      <div class="error_container" th:if="${unknownError}">
        <div class="error">Something went wrong, please try again.</div>
      </div>

      <br/>

      <div class="form_container">
        <form th:action="@{/changePassword}" method="post"
              th:object="${changePasswordRequest}">

          <div class="label_container">
            <label class="label" for="username">Username</label>
          </div>
          <input type="text" id="username" name="username" class="form-control"
                 autofocus="autofocus"
                 th:field="*{username}"/>

          <div class="label_container">
            <label class="label" for="oldPassword">One-Time Password</label>
          </div>
          <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                 autocomplete="off"
                 th:field="*{oldPassword}"/>
          <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('oldPassword')}"
                th:errors="*{oldPassword}"></span>
          </div>

          <br/>

          <div class="label_container">
            <label class="label" for="newPassword">New password</label>
          </div>
          <input type="password" id="newPassword" name="password" class="form-control"
                 autocomplete="off"
                 th:field="*{newPassword}"/>
          <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('newPassword')}"
                th:errors="*{newPassword}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="passwordCheck">Confirm new password</label>
          </div>
          <input type="password" id="passwordCheck" name="passwordCheck" class="form-control"
                 autocomplete="off"
                 th:field="*{passwordCheck}"/>
          <div class="error_container">
          <span class="error" th:if="${#fields.hasErrors('passwordsEqual')}"
                th:errors="*{passwordsEqual}"></span>
          </div>

          <br/>

          <div class="button_container">
            <input class="button" type="submit" value="Change Password"/>
          </div>
        </form>

        <div class="link_container">
          <label class="sub_label">
            Don't want to change password?
          </label>
          <a th:href="@{/loginPage}" class="sub_label">Log in</a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
