<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create User Account</title>
  <link th:href="@{/css/login1.css}" rel="stylesheet"/>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const urlParams = new URLSearchParams(window.location.search);
      const userType = urlParams.get('userType');

      if (userType) {
        document.getElementById(userType).style.display = 'block';
      }
    });
  </script>
</head>
<body>

<div class="container">
  <div class="inner_container">
    <div class="img_container"></div>
    <div class="box">
      <div class="title_container">
        <img src="/image/university.png" alt="University Image" class="image">
      </div>
      <div><label class="title">Details Account</label></div>

      <!-- Clinician Form -->
      <div id="clinician" class="form-container">
        <h3><span style="font-size: 15px; color: blue; font-family: 'Times New Roman';">Please insert the information of the Clinician</span></h3>
        <form th:action="@{/createUser}" method="post" th:object="${clinicianUserRequest}">
          <div class="label_container">
            <label class="label" for="firstName">First Name</label>
          </div>
          <input type="text" id="firstName" name="firstName" class="form-control" th:field="*{firstName}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="lastName">Last Name</label>
          </div>
          <input type="text" id="lastName" name="lastName" class="form-control" th:field="*{lastName}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="birthdate">Birth Date</label>
          </div>
          <input type="date" id="birthdate" name="birthdate" class="form-control" th:field="*{birthdate}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="email">Email</label>
          </div>
          <input type="email" id="email" name="email" class="form-control" th:field="*{middle_name}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('middle_name')}" th:errors="*{middle_name}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="clinicianId">Clinician ID</label>
          </div>
          <input type="text" id="clinicianId" name="clinicianId" class="form-control" th:field="*{nickname}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="user_role">Role</label>
          </div>
          <input type="text" id="user_role" name="user_role" class="form-control" th:field="*{given_name}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('given_name')}" th:errors="*{given_name}"></span>
          </div>

          <h3><span style="font-size: 15px; color: darkred; font-family: 'Times New Roman';">Configuring Password</span></h3>

          <div class="label_container">
            <label class="label" for="username">Username</label>
          </div>
          <input type="text" id="username" name="username" class="form-control" th:field="*{username}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="password">Password</label>
          </div>
          <input type="password" id="password" name="password" class="form-control" autocomplete="off" th:field="*{password}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
          </div>

          <div class="label_container">
            <label class="label" for="password_check">Confirm Password</label>
          </div>
          <input type="password" id="password_check" name="password_check" class="form-control" autocomplete="off" th:field="*{passwordCheck}"/>
          <div class="error_container">
            <span class="error" th:if="${#fields.hasErrors('passwordsEqual')}" th:errors="*{passwordsEqual}"></span>
          </div>

          <div class="button_container">
            <input class="button" type="submit" value="Insert Clinician in DB"/>
          </div>
        </form>
      </div>

<!--      &lt;!&ndash; Parent Form &ndash;&gt;-->
<!--      <div id="parent" class="form-container">-->
<!--        <h3><span style="font-size: 15px; color: blue; font-family: 'Times New Roman';">Please insert the information of the Parent</span></h3>-->
<!--        <form th:action="@{/createParent}" method="post" th:object="${parentUserRequest}">-->
<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_firstName">First Name</label>-->
<!--          </div>-->
<!--          <input type="text" id="parent_firstName" name="parent_firstName" class="form-control" th:field="*{firstName}"/>-->
<!--          <div class="error_container">-->
<!--            <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>-->
<!--          </div>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_lastName">Last Name</label>-->
<!--          </div>-->
<!--          <input type="text" id="parent_lastName" name="parent_lastName" class="form-control" th:field="*{lastName}"/>-->
<!--          <div class="error_container">-->
<!--            <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>-->
<!--          </div>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_birthdate">Birth Date</label>-->
<!--          </div>-->
<!--          <input type="date" id="parent_birthdate" name="parent_birthdate" class="form-control" th:field="*{birthdate}"/>-->
<!--          <div class="error_container">-->
<!--            <span class="error" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></span>-->
<!--          </div>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_email">Email</label>-->
<!--          </div>-->
<!--          <input type="email" id="parent_email" name="parent_email" class="form-control" th:field="*{middle_name}"/>-->
<!--          <div class="error_container">-->
<!--            <span class="error" th:if="${#fields.hasErrors('middle_name')}" th:errors="*{middle_name}"></span>-->
<!--          </div>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="gender">Child's Name</label>-->
<!--          </div>-->
<!--          <input type="email" id="gender" name="gender" class="form-control" th:field="*{middle_name}"/>-->
<!--          <div class="error_container">-->
<!--            <span class="error" th:if="${#fields.hasErrors('middle_name')}" th:errors="*{middle_name}"></span>-->
<!--          </div>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_id">Child's Name</label>-->
<!--          </div>-->
<!--          <input type="email" id="parent_id" name="parent_id" class="form-control" th:field="*{parent_id}"/>-->
<!--          <div class="error_container">-->
<!--            <span class="error" th:if="${#fields.hasErrors('parent_id')}" th:errors="*{nickname}"></span>-->
<!--          </div>-->

<!--          <h3><span style="font-size: 15px; color: darkred; font-family: 'Times New Roman';">Configuring Password</span></h3>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_username">Username</label>-->
<!--          </div>-->
<!--          <input type="text" id="parent_username" name="username" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_password">Password</label>-->
<!--          </div>-->
<!--          <input type="password" id="parent_password" name="password" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="parent_password_check">Confirm Password</label>-->
<!--          </div>-->
<!--          <input type="password" id="parent_password_check" name="password_check" class="form-control"/>-->

<!--          <div class="button_container">-->
<!--            <input class="button" type="submit" value="Insert Parent in DB"/>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->

<!--      &lt;!&ndash; Children Form &ndash;&gt;-->
<!--      <div id="children" class="form-container">-->
<!--        <h3><span style="font-size: 15px; color: blue; font-family: 'Times New Roman';">Please insert the information of the Child</span></h3>-->
<!--        <form action="/submitUser" method="post">-->
<!--          <div class="label_container">-->
<!--            <label class="label" for="children_firstName">First Name</label>-->
<!--          </div>-->
<!--          <input type="text" id="children_firstName" name="firstName" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_lastName">Last Name</label>-->
<!--          </div>-->
<!--          <input type="text" id="children_lastName" name="lastName" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_parentName">Parent's Name</label>-->
<!--          </div>-->
<!--          <input type="text" id="children_parentName" name="parentName" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_birthdate">Birth Date</label>-->
<!--          </div>-->
<!--          <input type="date" id="children_birthdate" name="birthdate" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_email">Email</label>-->
<!--          </div>-->
<!--          <input type="email" id="children_email" name="email" class="form-control"/>-->

<!--          <h3><span style="font-size: 15px; color: darkred; font-family: 'Times New Roman';">Configuring Password</span></h3>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_username">Username</label>-->
<!--          </div>-->
<!--          <input type="text" id="children_username" name="username" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_password">Password</label>-->
<!--          </div>-->
<!--          <input type="password" id="children_password" name="password" class="form-control"/>-->

<!--          <div class="label_container">-->
<!--            <label class="label" for="children_password_check">Confirm Password</label>-->
<!--          </div>-->
<!--          <input type="password" id="children_password_check" name="password_check" class="form-control"/>-->

<!--          <div class="button_container">-->
<!--            <input class="button" type="submit" value="Insert Child in DB"/>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
    </div>
  </div>
</div>

</body>
</html>
