<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Verify Attributes</title>
  <link th:href="@{/css/login1.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
  <div class="inner_container">
    <div class="img_container" th:style="'background:url(/image/line-resized.jpg)'"></div>
    <div class="box">
      <div class="title_container">
        <img src="/image/university.png"  width="250" height="160"/>
<!--        <script>window.alert("You are going to Verify your Credentials!");</script>-->
<!--        alert('You are going to Verify your Credentials');
 alert("${name}");-->
          <h5><span style="font-size: 20px; color: #0a0a0a; font-family: 'Times New Roman'; ">Credential Storage</span></h5>
        <script language="javascript">

          // timer=setTimeout("window.close('http://localhost:8080/setup_verify','width=550,height=400')",4000)

          timer=setTimeout("window.open('http://localhost:3000/credential/storage','width=550,height=400')",300)

        </script>
        <form method="POST" th:action="@{/authenticate}"
              th:object="${loginRequest}">
        </form>

      <p  th:text="'Full Name: ' + ${username}" ></p>
      <p th:text="'Birthdate: ' + ${university}"></p>
      <p th:text="'Awarded Degree:' + ${YearsOfStudies}"></p>
      <p th:text="'Student Id: ' + ${}"></p>


      </div>.
    </div>
  </div>
</div>
</body>
</html>


